# This notebook depicts how to convert the scraped data into a format that is much more usable

## The format in which the data was scraped

In [1]:
import pandas as pd

df = pd.read_csv("financial_data.csv")
df

,Period Ending:,10/31/2022,10/31/2021,10/31/2020,10/31/2019
0,Total Revenue,"$6,848,000","$6,319,000","$5,339,000","$5,163,000"
1,Cost of Revenue,"$3,126,000","$2,912,000","$2,502,000","$2,358,000"
2,Gross Profit,"$3,722,000","$3,407,000","$2,837,000","$2,805,000"
3,Operating Expenses,NaN,NaN,NaN,NaN
4,Research and Development,"$467,000","$441,000","$495,000","$404,000"
5,"Sales, General and Admin.","$1,637,000","$1,619,000","$1,496,000","$1,460,000"
6,Non-Recurring Items,--,--,--,--
7,Other Operating Items,--,--,--,--
8,Operating Income,"$1,618,000","$1,347,000","$846,000","$941,000"
9,Add'l income/expense items,"-$30,000","$94,000","$74,000","$52,000"
10,Earnings Before Interest and Tax,"$1,588,000","$1,441,000","$920,000","$993,000"
11,Interest Expense,"$84,000","$81,000","$78,000","$74,000"
12,Earnings Before Tax,"$1,504,000","$1,360,000","$842,000","$919,000"
13,Income Tax,"$250,000","$150,000","$123,000","-$152,000"
14,Minority Interest,--,--,--,--
15,Equity Earnings/Loss Unconsolidated Subsidiary,--,--,--,--
16,Net Income-Cont. Operations,"$1,254,000","$1,210,000","$719,000","$1,071,000"
17,Net Income,"$1,254,000","$1,210,000","$719,000","$1,071,000"
18,Net Income Applicable to Common Shareholders,"$1,254,000","$1,210,000","$719,000","$1,071,000"

In [19]:

df['Symbol'] = 'a'

df.set_index('Period Ending:', inplace=True)

df = df.T

df = df.reset_index()
df = df.rename(columns={'index': 'Date'})

df.reset_index(drop=True, inplace=True)

Period Ending:       index
0               10/31/2022
1               10/31/2021
2               10/31/2020
3               10/31/2019
4                   Symbol

In [21]:
df.columns

Index(['index', 'Total Revenue', 'Cost of Revenue', 'Gross Profit',
       'Operating Expenses', 'Research and Development',
       'Sales, General and Admin.', 'Non-Recurring Items',
       'Other Operating Items', 'Operating Income',
       'Add'l income/expense items', 'Earnings Before Interest and Tax',
       'Interest Expense', 'Earnings Before Tax', 'Income Tax',
       'Minority Interest', 'Equity Earnings/Loss Unconsolidated Subsidiary',
       'Net Income-Cont. Operations', 'Net Income',
       'Net Income Applicable to Common Shareholders', 'Symbol'],
      dtype='object', name='Period Ending:')

In [22]:
df

Period Ending:,index,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research and Development,"Sales, General and Admin.",Non-Recurring Items,Other Operating Items,Operating Income,...,Earnings Before Interest and Tax,Interest Expense,Earnings Before Tax,Income Tax,Minority Interest,Equity Earnings/Loss Unconsolidated Subsidiary,Net Income-Cont. Operations,Net Income,Net Income Applicable to Common Shareholders,Symbol
0,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,"$1,618,000",...,"$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000",a
1,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,"$1,347,000",...,"$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000",a
2,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,"$846,000",...,"$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000",a
3,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,"$941,000",...,"$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000",a
4,Symbol,a,a,a,a,a,a,a,a,a,...,a,a,a,a,a,a,a,a,a,a

In [23]:
df = df.drop(4)

In [24]:
df

Period Ending:,index,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research and Development,"Sales, General and Admin.",Non-Recurring Items,Other Operating Items,Operating Income,...,Earnings Before Interest and Tax,Interest Expense,Earnings Before Tax,Income Tax,Minority Interest,Equity Earnings/Loss Unconsolidated Subsidiary,Net Income-Cont. Operations,Net Income,Net Income Applicable to Common Shareholders,Symbol
0,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,"$1,618,000",...,"$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000",a
1,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,"$1,347,000",...,"$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000",a
2,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,"$846,000",...,"$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000",a
3,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,"$941,000",...,"$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000",a

In [31]:
df = df.rename(columns={'index': 'Period Ending'})

In [32]:
df

Period Ending:,Period Ending,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research and Development,"Sales, General and Admin.",Non-Recurring Items,Other Operating Items,Operating Income,...,Earnings Before Interest and Tax,Interest Expense,Earnings Before Tax,Income Tax,Minority Interest,Equity Earnings/Loss Unconsolidated Subsidiary,Net Income-Cont. Operations,Net Income,Net Income Applicable to Common Shareholders,Symbol
0,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,"$1,618,000",...,"$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000",a
1,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,"$1,347,000",...,"$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000",a
2,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,"$846,000",...,"$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000",a
3,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,"$941,000",...,"$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000",a

In [34]:
df.to_csv('f_data.csv', index=False)

In [46]:
df = pd.read_csv("f_data.csv")
df

,Period Ending,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research and Development,"Sales, General and Admin.",Non-Recurring Items,Other Operating Items,Operating Income,...,Earnings Before Interest and Tax,Interest Expense,Earnings Before Tax,Income Tax,Minority Interest,Equity Earnings/Loss Unconsolidated Subsidiary,Net Income-Cont. Operations,Net Income,Net Income Applicable to Common Shareholders,Symbol
0,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,"$1,618,000",...,"$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000",a
1,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,"$1,347,000",...,"$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000",a
2,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,"$846,000",...,"$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000",a
3,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,"$941,000",...,"$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000",a

In [47]:
df.drop(df.columns[-1], axis=1, inplace=True)

df['Symbol'] = 'a'

df = df[['Symbol'] + [col for col in df.columns if col != 'Symbol']]

df

,Symbol,Period Ending,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research and Development,"Sales, General and Admin.",Non-Recurring Items,Other Operating Items,...,Add'l income/expense items,Earnings Before Interest and Tax,Interest Expense,Earnings Before Tax,Income Tax,Minority Interest,Equity Earnings/Loss Unconsolidated Subsidiary,Net Income-Cont. Operations,Net Income,Net Income Applicable to Common Shareholders
0,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,...,"-$30,000","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
1,a,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,...,"$94,000","$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000"
2,a,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,...,"$74,000","$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000"
3,a,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,...,"$52,000","$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000"

In [48]:
df.to_csv('updated_data.csv', index=False)

In [50]:
data = pd.read_csv("financial_data.csv")
data

,Period Ending:,10/31/2022,10/31/2021,10/31/2020,10/31/2019
0,Total Revenue,"$6,848,000","$6,319,000","$5,339,000","$5,163,000"
1,Cost of Revenue,"$3,126,000","$2,912,000","$2,502,000","$2,358,000"
2,Gross Profit,"$3,722,000","$3,407,000","$2,837,000","$2,805,000"
3,Operating Expenses,NaN,NaN,NaN,NaN
4,Research and Development,"$467,000","$441,000","$495,000","$404,000"
5,"Sales, General and Admin.","$1,637,000","$1,619,000","$1,496,000","$1,460,000"
6,Non-Recurring Items,--,--,--,--
7,Other Operating Items,--,--,--,--
8,Operating Income,"$1,618,000","$1,347,000","$846,000","$941,000"
9,Add'l income/expense items,"-$30,000","$94,000","$74,000","$52,000"
10,Earnings Before Interest and Tax,"$1,588,000","$1,441,000","$920,000","$993,000"
11,Interest Expense,"$84,000","$81,000","$78,000","$74,000"
12,Earnings Before Tax,"$1,504,000","$1,360,000","$842,000","$919,000"
13,Income Tax,"$250,000","$150,000","$123,000","-$152,000"
14,Minority Interest,--,--,--,--
15,Equity Earnings/Loss Unconsolidated Subsidiary,--,--,--,--
16,Net Income-Cont. Operations,"$1,254,000","$1,210,000","$719,000","$1,071,000"
17,Net Income,"$1,254,000","$1,210,000","$719,000","$1,071,000"
18,Net Income Applicable to Common Shareholders,"$1,254,000","$1,210,000","$719,000","$1,071,000"

### The data is still scraped in the older format but the following code is implemented to extract the data in the desired format and append it to the final csv

In [172]:
num_columns = data.shape[1]
data_col=df.shape[1]
for i in range(1,num_columns):
    c1= data.iloc[:, i]   
    c1=c1.tolist()
    h1 = data.columns[i]
    nr=['a']
    nr.append(h1)
    nr.extend(c1)
    if(len(nr) != data_col):
        nr += ['--'] * (data_col - len(nr)) #if list items is lesser than the no. of columns in some cases, padding of 0's was done to match the num of cols.
    df.loc[len(df)] = nr
    nr.clear()
df

C:\Users\dell\AppData\Local\Temp\ipykernel_7436\4184031323.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[len(df)] = nr
C:\Users\dell\AppData\Local\Temp\ipykernel_7436\4184031323.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[len(df)] = nr
C:\Users\dell\AppData\Local\Temp\ipykernel_7436\4184031323.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[len(df)] = nr
C:\Users\dell\AppData\Local\Temp\ipykernel_7436\4184031323.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[len(df)] = nr

,Symbol,Period Ending,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research and Development,"Sales, General and Admin.",Non-Recurring Items,Other Operating Items,...,Add'l income/expense items,Earnings Before Interest and Tax,Interest Expense,Earnings Before Tax,Income Tax,Minority Interest,Equity Earnings/Loss Unconsolidated Subsidiary,Net Income-Cont. Operations,Net Income,Net Income Applicable to Common Shareholders
0,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,...,"-$30,000","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
1,a,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,...,"$94,000","$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000"
2,a,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,...,"$74,000","$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000"
3,a,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,...,"$52,000","$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000"
4,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,...,"-$30,000","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
5,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,...,"-$30,000","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
6,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,...,"-$30,000","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
7,a,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,...,"$94,000","$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000"
8,a,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,...,"$74,000","$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000"
9,a,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,...,"$52,000","$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000"
10,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,...,"-$30,000","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
11,a,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,...,"$94,000","$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000"
12,a,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,...,"$74,000","$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000"
13,a,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,...,"$52,000","$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000"
14,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,"$1,618,000",...,"$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000",
15,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,"$1,347,000",...,"$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000",
16,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,"$846,000",...,"$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000",
17,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,"$941,000",...,"$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000",
18,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,"$1,618,000",...,"$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000",0
19,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,"$1,347,000",...,"$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000",0
20,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,"$846,000",...,"$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000",0
21,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,"$941,000",...,"$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000",0
22,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,"$1,618,000",...,"$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000",--
23,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,"$1,347,000",...,"$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000",--
24,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,"$846,000",...,"$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000",--
25,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,"$941,000",...,"$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000",--
26,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,--,...,"-$30,000","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
27,a,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,--,...,"$94,000","$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000"
28,a,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,--,...,"$74,000","$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000"
29,a,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,--,...,"$52,000","$993,000","$74,000","$919,000","-$152,000",--,--,"$1,071,000","$1,071,000","$1,071,000"

In [166]:
print(len(nr))
print(data_col)
print(x)
print(data_col-x)
print(data_col-len(nr))

20
21
100
-79
1

In [121]:
num_columns

5

In [123]:
data_col

21

In [103]:
len(nr)

20

In [104]:
df.shape[1]

21

In [2]:
import pandas as pd
df = pd.read_csv("updated_data.csv")

In [5]:
df.insert(0, 'index', range(len(df)))

df.reset_index(drop=False, inplace=True)

df

ValueError: cannot insert index, already exists

In [6]:
df

,level_0,index,Symbol,Period Ending,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research and Development,"Sales, General and Admin.",...,Add'l income/expense items,Earnings Before Interest and Tax,Interest Expense,Earnings Before Tax,Income Tax,Minority Interest,Equity Earnings/Loss Unconsolidated Subsidiary,Net Income-Cont. Operations,Net Income,Net Income Applicable to Common Shareholders
0,0,0,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",...,"($30,000)","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
1,1,1,a,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",...,"$94,000","$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000"
2,2,2,a,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",...,"$74,000","$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000"
3,3,3,a,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",...,"$52,000","$993,000","$74,000","$919,000","($152,000)",--,--,"$1,071,000","$1,071,000","$1,071,000"
4,4,4,aa,12/31/2022,"$12,451,000","$10,212,000","$2,239,000",NaN,"$32,000","$204,000",...,"$118,000","$808,000","$106,000","$702,000","$664,000",--,"($161,000)","($123,000)","($123,000)","($123,000)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25707,25707,25707,ZYME,Unnamed: 4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25708,25708,25708,ZYXI,12/31/2022,"$158,167","$32,005","$126,162",NaN,--,"$103,224",...,($300),"$22,638",$440,"$22,198","$5,150",--,--,"$17,048","$17,048","$17,048"
25709,25709,25709,ZYXI,12/31/2021,"$130,301","$27,321","$102,980",NaN,--,"$80,614",...,--,"$22,366",$95,"$22,271","$5,168",--,--,"$17,103","$17,103","$17,103"
25710,25710,25710,ZYXI,12/31/2020,"$80,122","$17,417","$62,705",NaN,--,"$52,456",...,--,"$10,172",$19,"$10,153","$1,079",--,--,"$8,997","$9,074","$9,074"
25711,25711,25711,ZYXI,12/31/2019,"$45,472","$8,814","$36,658",NaN,--,"$25,592",...,$880,"$11,946",$5,"$11,941","$2,449",--,--,"$9,492","$9,492","$9,492"

In [7]:
df = df.drop(columns=['level_0'], errors='ignore')

In [8]:
df

,index,Symbol,Period Ending,Total Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research and Development,"Sales, General and Admin.",Non-Recurring Items,...,Add'l income/expense items,Earnings Before Interest and Tax,Interest Expense,Earnings Before Tax,Income Tax,Minority Interest,Equity Earnings/Loss Unconsolidated Subsidiary,Net Income-Cont. Operations,Net Income,Net Income Applicable to Common Shareholders
0,0,a,10/31/2022,"$6,848,000","$3,126,000","$3,722,000",NaN,"$467,000","$1,637,000",--,...,"($30,000)","$1,588,000","$84,000","$1,504,000","$250,000",--,--,"$1,254,000","$1,254,000","$1,254,000"
1,1,a,10/31/2021,"$6,319,000","$2,912,000","$3,407,000",NaN,"$441,000","$1,619,000",--,...,"$94,000","$1,441,000","$81,000","$1,360,000","$150,000",--,--,"$1,210,000","$1,210,000","$1,210,000"
2,2,a,10/31/2020,"$5,339,000","$2,502,000","$2,837,000",NaN,"$495,000","$1,496,000",--,...,"$74,000","$920,000","$78,000","$842,000","$123,000",--,--,"$719,000","$719,000","$719,000"
3,3,a,10/31/2019,"$5,163,000","$2,358,000","$2,805,000",NaN,"$404,000","$1,460,000",--,...,"$52,000","$993,000","$74,000","$919,000","($152,000)",--,--,"$1,071,000","$1,071,000","$1,071,000"
4,4,aa,12/31/2022,"$12,451,000","$10,212,000","$2,239,000",NaN,"$32,000","$204,000","$696,000",...,"$118,000","$808,000","$106,000","$702,000","$664,000",--,"($161,000)","($123,000)","($123,000)","($123,000)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25707,25707,ZYME,Unnamed: 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25708,25708,ZYXI,12/31/2022,"$158,167","$32,005","$126,162",NaN,--,"$103,224",--,...,($300),"$22,638",$440,"$22,198","$5,150",--,--,"$17,048","$17,048","$17,048"
25709,25709,ZYXI,12/31/2021,"$130,301","$27,321","$102,980",NaN,--,"$80,614",--,...,--,"$22,366",$95,"$22,271","$5,168",--,--,"$17,103","$17,103","$17,103"
25710,25710,ZYXI,12/31/2020,"$80,122","$17,417","$62,705",NaN,--,"$52,456",--,...,--,"$10,172",$19,"$10,153","$1,079",--,--,"$8,997","$9,074","$9,074"
25711,25711,ZYXI,12/31/2019,"$45,472","$8,814","$36,658",NaN,--,"$25,592",--,...,$880,"$11,946",$5,"$11,941","$2,449",--,--,"$9,492","$9,492","$9,492"